@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  margin: auto;
  padding: 0;
  max-width: 1400px;
}

h1 {
  font-family: Shrikhand, sans-serif;
  font-size: 250%;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
  padding: 20px;
}

h2 {
  padding: 20px;
  font-size: 150%;
}

h3, p {
  padding-left: 20px;
}

h4 {
  font-family: Shrikhand, sans-serif;
  font-size: 30px;
}

h5 {
  text-transform: uppercase;
  font-size: 130%;
  font-weight: 100;
  padding-left: 15px;
  padding-bottom: 22px;
  margin-top: 20px;
}

h6 {
  font-size: 100%;
  font-weight: 600;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #000;
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100px);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  25% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
    font-weight: 600;
  }
  100% {
    opacity: 1;
    font-weight: 900;
  }
}
@keyframes fill-heart {
  from {
    height: 0px;
    font-weight: 0;
  }
  to {
    height: 30px;
    font-weight: 600;
  }
}
@keyframes scale {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loading_menus {
  0% {
    opacity: 0;
    transform: translateY(500px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes loader {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
html {
  --i: 100;
}

.loader {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(231, 222, 241, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 100ms loader 4s both;
}
.loader span {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: rotate(calc(18deg * var(--i)));
}
.loader span::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(to right bottom, #9356DC, 30%, #FF79DA);
  animation-delay: 1s;
  animation: rotate 5s;
}

.restaurant_card {
  background-color: #FFFFFF;
  margin: auto;
  margin-bottom: 30px;
  position: relative;
  width: 92%;
  box-shadow: rgba(24, 24, 24, 0.35) 0px 5px 15px;
  border-radius: 15px;
  padding-bottom: 15px;
}
.restaurant_card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  padding-bottom: 15px;
}
.restaurant_card .green_card {
  background-color: #99E2D0;
  color: #2c9c81;
  font-weight: 700;
  position: absolute;
  right: 2%;
  top: 5%;
  padding: 10px;
  border-radius: 5%;
}
.restaurant_card .description {
  position: relative;
}
.restaurant_card .description h3, .restaurant_card .description p {
  line-height: 1.5;
}

.course {
  width: 360px;
  opacity: 0;
  display: flex;
  align-items: flex-end;
  margin: 15px 20px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 4px 4px 5px #d4d4d4;
  height: 75px;
  overflow: hidden;
}
.course:active .dish, .course:hover .dish {
  transition: width 1s;
  min-width: 200px;
  padding-right: 10px;
}
.course:active .fa-check-circle, .course:hover .fa-check-circle {
  animation: rotate 1s;
}
.course:active .validate, .course:hover .validate {
  opacity: 0;
}

.dish {
  justify-content: space-between;
}

.dish p, h6 {
  padding-left: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

p {
  padding-bottom: 15px;
}

.prix {
  width: 100%;
  text-align: right;
  padding: 0 10px 15px 10px;
  cursor: pointer;
  transition: 1400ms ease-in-out;
}

.validate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #99E2D0;
  width: 0px;
  opacity: 0;
  height: 100%;
  animation: slide-left 0.5s ease-in;
  opacity: 1s;
}
.validate .fa-check-circle {
  color: white;
  font-size: 30px;
}

.bordered-bottom {
  background-image: linear-gradient(to right, #99E2D0 50%, transparent 50%);
  background-size: 80px 5px;
  background-repeat: no-repeat;
  background-position: 15px 60%;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  margin: auto;
  padding: 15px;
  font-weight: bold;
  border-radius: 15px;
}
.btn.pink {
  background: linear-gradient(to bottom right, #FF79DA, 45%, #9356DC);
  color: #FFFFFF;
  border-radius: 50px;
  box-shadow: 4px 4px 3px 2px #FF79DA;
  box-shadow: 5px 7px 8px rgb(210, 210, 210);
}
.btn.pink.commander {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.btn.pink:hover {
  background: linear-gradient(-170deg, #ff60d3 30%, #8641d8 100%);
  box-shadow: 1px 2px 5px 2px #a7a7a7;
}

.grey {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: center;
  width: 300px;
  max-height: 50px;
  margin-bottom: 30px;
  background-color: #f8f8f8;
  color: #000000;
  box-shadow: 2px 3px 5px 4px #f3f3f3;
}
.grey:hover {
  background-color: #f2eafb;
  box-shadow: 5px 7px 8px rgb(210, 210, 210);
}

i {
  font-size: 24px;
}

.fonctionnement i {
  color: #a7a7a7;
  padding-left: 15px;
}
.fonctionnement i.fa-mobile-screen {
  font-size: 28px;
}
.fonctionnement i:hover {
  color: #9356DC;
}

.heart .fas {
  position: absolute;
  right: 10px;
  top: 0px;
  font-weight: 100;
  font-size: 26px;
  cursor: pointer;
}
.heart .fas:active, .heart .fas:hover {
  font-weight: 600;
  background: linear-gradient(360deg, #9356DC 30%, #FF79DA 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fill-heart 300ms;
  animation-fill-mode: forwards;
}

header .fa-arrow-left-long {
  color: #000000;
  font-size: 30px;
  width: 100px;
  padding: 5px;
  text-align: left;
}

.fa-check-circle {
  position: inherit;
  font-size: 30px;
  color: white;
  transform: rotate(-360deg);
}
.fa-check-circle:active, .fa-check-circle:hover {
  animation: rotate 0.5ms linear;
}

.purple-circle {
  border-radius: 50%;
  background-color: #9356DC;
  color: #FFFFFF;
  font-weight: 600;
  padding: 4px 8px;
  position: absolute;
  left: -15px;
}

header {
  position: relative;
}
header a {
  position: absolute;
  left: 10px;
}

.image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  padding-bottom: 15px;
  border-radius: 0px;
  height: 300px;
}

.main2 {
  margin-top: -60px;
  padding: 20px 0px;
  background-color: #f3f3f3;
  border-radius: 50px 50px 0 0;
  position: relative;
}
.main2 .restaurant_name {
  font-size: 68%;
}
.main2 .restaurant_name h1 {
  width: 300px;
  margin: auto;
}
.main2 .restaurant_name .heart .fas {
  top: 35px;
  right: 30px;
}

.menu {
  font-size: 88%;
}
.menu .entrees .course {
  animation: loading_menus 3s;
  animation-fill-mode: forwards;
}
.menu .plats .course {
  animation: loading_menus 6s;
  animation-fill-mode: forwards;
}
.menu .desserts .course {
  animation: loading_menus 9s;
  animation-fill-mode: forwards;
}
@media screen and (min-width: 769px) {
  .menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .menu .dish {
    width: 300px;
  }
}
.menu a.commander {
  width: 300px;
  margin: 50px auto;
}

footer, footer a {
  background-color: #000000;
  color: #FFFFFF;
}
footer footer, footer i, footer a footer, footer a i {
  width: 40px;
}
footer h4, footer ul, footer a h4, footer a ul {
  padding: 10px 0 20px 20px;
  line-height: 1.7;
}
@media screen and (min-width: 769px) {
  footer h4, footer ul, footer a h4, footer a ul {
    display: flex;
    justify-content: space-between;
    margin: 0% auto;
    text-align: center;
  }
}
@media screen and (min-width: 769px) {
  footer footer, footer h4, footer a footer, footer a h4 {
    width: fit-content;
  }
}
footer ul, footer a ul {
  padding: 10px 20px;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  margin: auto;
  padding: 0;
  max-width: 1400px;
}

h1 {
  font-family: Shrikhand, sans-serif;
  font-size: 250%;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
  padding: 20px;
}

h2 {
  padding: 20px;
  font-size: 150%;
}

h3, p {
  padding-left: 20px;
}

h4 {
  font-family: Shrikhand, sans-serif;
  font-size: 30px;
}

h5 {
  text-transform: uppercase;
  font-size: 130%;
  font-weight: 100;
  padding-left: 15px;
  padding-bottom: 22px;
  margin-top: 20px;
}

h6 {
  font-size: 100%;
  font-weight: 600;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #000;
}

main form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 55px;
  background-color: #e6e6e6;
  border: none;
  box-shadow: inset 0px 10px 5px -6px silver;
  margin: auto;
  margin-bottom: 0;
}
main form input, main form label {
  border: none;
  background-color: transparent;
  font-size: large;
  font-weight: 600;
  padding: 10px;
}
main form input {
  width: 170px;
}
main .introduction, main .liste_restaurants {
  background-color: #f3f3f3;
  padding-bottom: 40px;
}
main .introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .introduction .introduction__titre {
  width: 90%;
  text-align: center;
  padding-bottom: 40px;
}
main .fonctionnement {
  background-color: #FFFFFF;
}
main .fonctionnement .trois-etapes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: center;
  position: relative;
  margin: 0 20px;
}
main .fonctionnement .trois-etapes .grey {
  width: 90%;
}
main .fonctionnement .trois-etapes .grey p {
  width: 500px;
  padding-left: 20px;
  padding-bottom: 0px;
}
@media screen and (min-width: 769px) {
  main .fonctionnement .trois-etapes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  main .fonctionnement .trois-etapes .grey {
    width: 30%;
    max-height: 60px;
  }
}

.liste_restaurants {
  padding-top: 20px;
}
.liste_restaurants .liste_cards {
  display: grid;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 769px) {
  .liste_restaurants .liste_cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .liste_restaurants .liste_cards h2 {
    text-align: center;
  }
}
@media screen and (min-width: 992px) {
  .liste_restaurants .liste_cards {
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 20px;
    font-size: 90%;
  }
  .liste_restaurants .liste_cards h2 {
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */