.course{
    //width: calc(100% - 40px);
    width: 90%;
    //width: 360px;
    margin: auto;
    opacity: 0;
    display: flex;
    align-items: flex-end;
    margin: 15px 20px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 4px 4px 5px  darken($colour-gray,12);
    height: 75px;
    overflow: hidden;
    &:active, &:hover{
        .dish{
            transition: width 1s;
            //min-width: 200px;
            padding-right: 10px
        }.fa-check-circle{
            animation: rotate 1s;
         }
        .validate{
            width: 80px;  
            opacity: 1;
        }
    }
}
.dish{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.dish p, h6{
    padding-left: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
p{
    padding-bottom: 15px;
}
.prix{
    width: 100%;
    text-align: right;
    padding: 0 10px 15px 10px;
    //cursor: pointer;
    transition: 1400ms ease-in-out;
}
.validate{
    @include flexTool(column);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color:$colour-tertiary;
    width: 0px;
    opacity: 0;
    height: 100%;
    //animation: slide-left 0.5s ease-in;
     opacity: 1s;
    .fa-check-circle{
        color: white;
        font-size: 30px;
    }
}
