.bordered-bottom{
    background-image: linear-gradient(to right,$colour-tertiary 50%, transparent 50%);
    background-size: 80px 5px;
    background-repeat: no-repeat;
    background-position: 15px 60%;
    margin-bottom: 10px;
}